<div style="font-family: 'Open Sans', 'Gill Sans', Arial, sans-serif; font-size: 15px; font-weight: 400; color: #404040; line-height: 22px;">
  <%= h1 'Zooniverse Talk Notifications' %>
  <% if @system.any? %>
    <%= h2 'System' %>

    <% @system.each_pair do |section, notifications| %>
      <%= container do %>
        <%= h2 do %>
          <% if project = notifications.first.project %>
            <%= link_to project.display_name, FrontEnd.project_talk(project), style: link_style %>
          <% elsif section == 'zooniverse' %>
            <%= link_to 'Zooniverse', FrontEnd.zooniverse_talk, style: link_style %>
          <% end %>
        <% end %>

        <div>
          <% notifications.each do |notification| %>
            <%= container do %>
              <%= notification.message %>:
              <%= link_to 'Download', notification.url, style: link_style %>
              <div>Available until <%= notification.source.expires_at.strftime('%Y-%m-%d %H:%M UTC') %></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @moderations.any? %>
    <%= h2 'Moderation Reports' %>

    <% @moderations.each_pair do |section, notifications| %>
      <%= container do %>
        <% project = notifications.first.project %>
        <%= h3 do %>
          <% if project %>
            <%= link_to project.display_name, FrontEnd.project_talk(project), style: link_style %>
          <% elsif section == 'zooniverse' %>
            <%= link_to 'Zooniverse', FrontEnd.zooniverse_talk, style: link_style %>
          <% end %>
        <% end %>

        <div>
          <% notifications.each do |notification| %>
            <%= container do %>
              <div>
                <%= link_to notification.message, notification.url, style: link_style %>
                <% if notification.source.target_type == 'Comment' %>
                  <div>
                    <%= link_to 'View comment on talk', FrontEnd.link_to(notification.source.target), style: link_style %>
                  </div>
                  <div>
                    <%= MarkdownApi.markdown(notification.source.target.body, slug: project.try(:slug)).html_safe %>
                  </div>
                  <div><%= time_ago_in_words notification.source.created_at %> ago</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @messages.any? %>
    <%= h2 'Messages' %>

    <% @messages.each_pair do |conversation, notifications| %>
      <%= container do %>
        <%= h3 do %>
          <%= link_to conversation.title, FrontEnd.link_to(conversation), style: link_style %>
        <% end %>

        <h4>
          You have
          <%= pluralize notifications.length, 'New message' %>
          in conversation
          <%= link_to conversation.title, FrontEnd.link_to(conversation), style: link_style %>
        </h4>

        <div>
          <% notifications.each do |notification| %>
            <%= container do %>
              <div>
                <div><%= notification.message %></div>
                <%= MarkdownApi.markdown(notification.source.body).html_safe %>
                <div><%= time_ago_in_words notification.source.created_at %> ago</div>
              </div>
              <%= link_to 'View on talk', notification.url, style: link_style %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @mentions.any? %>
    <%= h2 'Mentions' %>

    <% @mentions.each_pair do |section, notifications| %>
      <div>
        <% project = notifications.first.project %>
        <%= h3 do %>
          <% if project %>
            <%= link_to project.display_name, FrontEnd.project_talk(project), style: link_style %>
          <% elsif section == 'zooniverse' %>
            <%= link_to 'Zooniverse', FrontEnd.zooniverse_talk, style: link_style %>
          <% end %>
        <% end %>

        <div>
          <% notifications.each do |notification| %>
            <%= container do %>
              <div><%= notification.message %></div>
              <div>
                <%= MarkdownApi.markdown(notification.source.body, slug: project.try(:slug)).html_safe %>
              </div>
              <div><%= time_ago_in_words notification.source.created_at %> ago</div>
              <%= link_to 'View on talk', notification.url, style: link_style %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @started_discussions.any? %>
    <%= h2 "Boards you're following" %>

    <% @started_discussions.each_pair do |section, boards| %>
      <% project = boards.first.last.first.project %>
      <div>
        <%= h3 do %>
          <% if project %>
            <%= link_to project.display_name, FrontEnd.project_talk(project), style: link_style %>
          <% elsif section == 'zooniverse' %>
            <%= link_to 'Zooniverse', FrontEnd.zooniverse_talk, style: link_style %>
          <% end %>
        <% end %>

        <div>
          <% boards.each_pair do |board, notifications| %>
            <%= container do %>
              <h4>
                <%= pluralize notifications.length, 'New discussions' %>
                on
                <%= link_to board.title, FrontEnd.link_to(board, project), style: link_style %>
              </h4>

              <div>
                <% notifications.each do |notification| %>
                  <%= container do %>
                    <div><%= notification.message %></div>
                    <div>
                      <% first_comment = notification.source.comments.order(:created_at).first %>
                      <%= MarkdownApi.markdown(first_comment.body, slug: project.try(:slug)).html_safe %>
                    </div>
                    <div><%= time_ago_in_words notification.source.created_at %> ago</div>
                    <%= link_to 'View on talk', notification.url, style: link_style %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @discussions.any? %>
    <%= h2 "Discussions you're following" %>

    <% @discussions.each_pair do |section, discussions| %>
      <% project = discussions.first.last.first.project %>
      <div>
        <%= h3 do %>
          <% if project %>
            <%= link_to project.display_name, FrontEnd.project_talk(project), style: link_style %>
          <% elsif section == 'zooniverse' %>
            <%= link_to 'Zooniverse', FrontEnd.zooniverse_talk, style: link_style %>
          <% end %>
        <% end %>

        <div>
          <% discussions.each_pair do |discussion, notifications| %>
            <%= container do %>
              <h4>
                <%= pluralize notifications.length, 'New comment' %>
                on
                <%= link_to discussion.title, FrontEnd.link_to(discussion, project), style: link_style %>
              </h4>

              <div>
                <% notifications.each do |notification| %>
                  <%= container do %>
                    <div><%= notification.message %></div>
                    <div>
                      <%= MarkdownApi.markdown(notification.source.body, slug: project.try(:slug)).html_safe %>
                    </div>
                    <div><%= time_ago_in_words notification.source.created_at %> ago</div>
                    <%= link_to 'View on talk', notification.url, style: link_style %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <footer style="margin-top: 30px">
    <p><strong>Note:</strong> Please do not reply directly to this email. Messages sent by email will not be delivered. Please visit <a href="https://www.zooniverse.org/">Zooniverse.org</a> to reply.</p>
    <p>You can <%= link_to 'manage your email preferences here', "#{ FrontEnd.host }/settings/email", style: link_style %></p>
    <p>Or <%= link_to 'click here to unsubscribe', Rails.application.routes.url_helpers.unsubscribe_url(token: UnsubscribeToken.for_user(@user).token), style: link_style %>
  </footer>
</div>
